body
{
    margin: 0px;
}
.flex
{
    display: flex;
    justify-content: center;
    width: 100%;
}
header
{
    height: 80px;
    background-color:crimson;
}
section
{
    height: 600px;
    background-color: blue;
    display: flex;
    flex-direction: row;
}
#h2Centro
{   
    color:cornsilk;
    align-self: center;
}
#h1Cabeza
{
    text-align: center;
    color:rgb(255, 255, 255);
}
#h3Footer
{
    background-color: #111;
    height: 100px;
    width: 100%;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
}
